@using Abp.Web.Mvc.Extensions
@{
    ViewBag.Title = "角色管理";
}
@section styles {
    <link href="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/css/select2.min.css">
    <link href="~/Content/hummingbird_treeview.css" rel="stylesheet" />
}
@section scripts
{
    <!-- DataTables -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <!-- Select2 -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/hummingbird_treeview.js"></script>
    <script src="~/js/config.js"></script>
    <script>
        var Popup, dataTable

        $(document).ready(function () {
            dataTable = $("#roleTable").DataTable({
                "ajax": {
                    "url": "/RoleManagement/GetList",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "RoleName", "name": "RoleName" },
                    {
                        "data": "Users", "render": function (data) {
                            var roleUsers = ""
                            if (data != null) {
                                data.forEach(function (user) {
                                    roleUsers += user.EmployeeName + "(" + user.EmployeeCode + ");"
                                })
                            }
                            return roleUsers;
                        },
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "data": "LastModifyTime", "name": "LastModifyTime", "render": function (d) {
                            return moment(d).format("YYYY-MM-DD");
                        },
                        "visible": false
                    },
                    {
                        "data": "Id", "render": function (data) {
                            return "<a class='btn btn-info btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit", "RoleManagement")/" + data + "','编辑角色信息')><i class='fa fa-pencil'></i>编辑</a> <a class='btn btn-info btn-sm' onclick=PopupForm('@Url.Action("Permission", "RoleManagement")/" + data + "','角色权限管理')><i class='fa fa-pencil'></i>权限管理</a> <a class='btn btn-info btn-sm' onclick=PopupForm('@Url.Action("DepartmentPermission", "RoleManagement")/" + data + "','部门权限管理')><i class='fa fa-pencil'></i>部门权限</a> <a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i>删除</a>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "300px"
                    }
                ],
                "serverSide": true,
                "processing": true,
                "order": [2, "desc"],
                "language": {
                    "emptyTable": "没有记录, 请点击 <b>新增</b> 按钮添加记录!",
                    "processing": "处理中... 请等待!",
                    "decimal": "",
                    "info": "共 _TOTAL_ 条记录",
                    "infoEmpty": "共 0 条记录",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "每页 _MENU_ 条",
                    "search": "查找:",
                    "zeroRecords": "没有找到匹配的记录",
                    "paginate": {
                        "first": "首页",
                        "last": "尾页",
                        "next": "下一页",
                        "previous": "上一页"
                    }
                },
                "dom": '<"top"l>rt<"bottom"ip><"clear">'
            });
        })

        function PopupForm(url, title) {
            var formDiv = $('<div/>');
            var height = 400;
            var width = 800;
            if (title == "角色权限管理") {
                height = 600;
                width = 800;
            }
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: title,
                        height: height,
                        width: width,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        function SubmitForm(form) {
            console.info($(form).serialize())
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if (confirm("确认删除吗?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "RoleManagement")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                })
            }
        }
    </script>
}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box box-header">
                <div class="btn-group-toggle">
                    <button type="button" class="btn btn-info" onclick="PopupForm('@Url.Action("AddOrEdit","RoleManagement")', '编辑角色信息')">新增 <i class="fa fa-plus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="roleTable" class="table table-bordered table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>角色名称</th>
                            <th>角色成员</th>
                            <th>更新时间</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>



