@model ZNV.Timesheet.Timesheet.TimesheetForWeek
@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEditForWeek", "Timesheet", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box box-header">
                    <div class="btn-group-toggle">
                        <input type="hidden" id="startDate" value="@Model.startDate" />
                        <input type="hidden" id="endDate" value="@Model.endDate" />
                        <label>@Model.startDate</label>到<label>@Model.endDate</label>的工时
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="dtTimesheet" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="display:none;width:0px"></th>
                                <th style="width:100px">日期</th>
                                <th style="width:120px">项目代码</th>
                                <th style="width:60px">工时</th>
                                <th>工作内容</th>
                                <th style="width:80px">状态</th>
                                <th style="width:85px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.TimesheetList.Count; i++)
                            {
                                var eleDisabled = (Model.TimesheetList[i].Status == ZNV.Timesheet.Timesheet.ApproveStatus.Draft) ? "" : " disabled ='disabled' ";//只有草稿状态的才能编辑
                                <tr>
                                    <td style="display:none">
                                        <input name="Id" type="hidden" value="@Model.TimesheetList[i].Id" />
                                        <input name="Approver" type="hidden" value="@Model.TimesheetList[i].Approver" />
                                        <input name="ApprovedTime" type="hidden" value="@Model.TimesheetList[i].ApprovedTime" />
                                        <input name="WorkflowInstanceID" type="hidden" value="@Model.TimesheetList[i].WorkflowInstanceID" />
                                        <input name="ProjectGroup" type="hidden" value="@Model.TimesheetList[i].ProjectGroup" />
                                    </td>
                                    <td>
                                        @if (Model.TimesheetList[i].TimesheetDate.HasValue)
                                        {
                                            <input name="TimesheetDate" style="width:100%" type="text" @eleDisabled value='@Model.TimesheetList[i].TimesheetDate.Value.ToString("yyyy-MM-dd")' />
                                        }
                                        else
                                        {
                                            <input name="TimesheetDate" style="width:100%" type="text" @eleDisabled value='' />
                                        }
                                    </td>
                                    <td>
                                        <select name="ProjectID" style="width:100%" @eleDisabled>
                                            @foreach (var project in ViewData["Projects"] as List<SelectListItem>)
                                            {
                                                if (Model.TimesheetList[i].ProjectID.HasValue && project.Value == Model.TimesheetList[i].ProjectID.Value.ToString())
                                                {
                                                    <option value="@project.Value" selected="selected">@project.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@project.Value">@project.Text</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td><input type="text" name="Workload" @eleDisabled style="width:100%" value="@Model.TimesheetList[i].Workload" /></td>
                                    <td><textarea rows="2" name="WorkContent" @eleDisabled style="width:100%">@Model.TimesheetList[i].WorkContent</textarea></td>
                                    <td>
                                        @if (Model.TimesheetList[i].Status == ZNV.Timesheet.Timesheet.ApproveStatus.Draft)
                                        {
                                            <input name="Status" type="hidden" value="0" />
                                            <label>草稿</label>
                                        }
                                        else if (Model.TimesheetList[i].Status == ZNV.Timesheet.Timesheet.ApproveStatus.Approving)
                                        {
                                            <input name="Status" type="hidden" value="1" />
                                            <label>审核中</label>
                                        }
                                        else if (Model.TimesheetList[i].Status == ZNV.Timesheet.Timesheet.ApproveStatus.Approved)
                                        {
                                            <input name="Status" type="hidden" value="2" />
                                            <label>审批通过</label>
                                        }
                                        else
                                        {
                                            <input name="Status" type="hidden" value="-1" />
                                            <label>未知</label>
                                        }
                                    </td>
                                    <td>
                                        @if (Model.TimesheetList[i].Id == 0)
                                        {//显示加号和减号
                                            <a class='btn btn-info btn-sm' style="margin-right: 5px;" title="增加一个工时" onclick='CreateNewTimesheet(this)'>+</a>
                                            <a class='btn btn-info btn-sm' title="移除一个工时" onclick='RemoveNewTimesheet(this)'>-</a>
                                        }
                                        else
                                        {//只显示加号，因为数据已经存在不允许删除，可以到列表界面单独进行删除
                                            <a class='btn btn-info btn-sm' style="margin-right: 5px;" title="增加一个工时" onclick='CreateNewTimesheet(this)'>+</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="form-group pull-right">
                        <input type="button" onclick="return SaveDraftForWeek(this)" value="保存草稿" class="btn btn-primary btn-lg" />
                        <input type="button" onclick="return SubmitFormForWeek(this)" value="提交" class="btn btn-primary btn-lg" />
                        <input type="button" onclick="return RollBackForWeek(this)" value="撤回" class="btn btn-primary btn-lg" />
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
}
<script>
    $(document).ready(function () {
        //Date picker
        $("input[name='TimesheetDate']").datepicker({
            autoclose: true,
            dateFormat: "yy-mm-dd",
            minDate: $("#startDate").val(),
            maxDate: $("#endDate").val(),
            weekStart: 1,
        });


        $("select[name=ProjectID]").select2(
            {
                placeholder: '输入项目编号或名称',
                minimumInputLength: 0,
                allowClear: false,
                ajax: {
                    delay: 150,
                    url: 'Timesheet/GetProjectList',
                    dataType: 'json',
                    async: true,
                    data: function (params) {
                        return {
                            pageSize: 100,
                            pageNum: params.page || 1,
                            searchTerm: params.term,
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: $.map(data.Results, function (obj) {
                                return { id: obj.ProjectCode, text: obj.ProjectName + "(" + obj.ProjectCode + ")" };
                            }),
                            pagination: {
                                more: (params.page * 100) <= data.Total
                            }
                        };
                    }
                }
            });
    })

</script>
