@using Abp.Web.Mvc.Extensions
@section styles {
    <link href="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/plugins/iCheck/all.css">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
}
@section scripts
{
    <!-- DataTables -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/lib/AdminLTE-2.4.10/plugins/iCheck/icheck.min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>

    @*@Html.IncludeScript("~/js/Timesheet/Index.js")*@

    <script>
        var Popup, dataTable
        
        $(document).ready(function () {
            dataTable = $("#dtTimesheet").DataTable({
                "ajax": {
                    "url": "/Timesheet/GetAllTimesheets",
                    "type": "POST",
                    "datatype": "json",
                    "data": {
                        "user": "kojar.liu",
                        "startDate": "2019-06-01",
                        "endDate": "2019-12-01"
                    },
                },
                "columns": [
                    {
                        "data": "TimesheetDate", "name": "TimesheetDate", "render": function (d) {
                            if (d)
                                return moment(d).format("YYYY-MM-DD");
                            else
                                return "";
                        }
                    },
                    { "data": "ProjectName" },
                    { "data": "Workload" },
                    {
                        "data": "WorkContent", "name": "WorkContent", "render": function (d) {
                            if (d)
                                return "<label title='" + d + "'>" + GetShortStringForCell(d) + "</label>";
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Remarks", "name": "Remarks", "render": function (d) {
                            if (d)
                                return "<label title='" + d + "'>" + GetShortStringForCell(d) + "</label>";
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Status",
                        "orderable": false,
                        "searchable": false,
                        "width": "80px",
                        "render": function (data, type, full, meta) {
                            if (data == "" || data == null || data == ApproveStatus.Draft) {
                                return "草稿";
                            }
                            else if (data == ApproveStatus.Approving) {
                                return "审核中";
                            }
                            else {
                                return "审批完成";
                            }
                        }
                    },
                    {
                        "data": "Status",
                        "orderable": false,
                        "searchable": false,
                        "width": "125px",
                        "render": function (data, type, full, meta) {
                            console.log(data+","+type+","+full+","+meta);
                            if (data == "" || data == null || data == ApproveStatus.Draft) {
                                //return "<a class='btn btn-info btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit", "Timesheet")/" + full.Id + "')><i class='fa fa-pencil'></i>编辑</a > <a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + full.Id + ")><i class='fa fa-trash'></i>删除</a >";
                                //return "<a class='btn btn-info btn-sm' onclick=singleSubmit(" + full.Id + ")><i class='fa fa-arrow-circle-o-up'></i>提交</a > <a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + full.Id + ")><i class='fa fa-trash'></i>删除</a >";
                                return "<a class='btn btn-danger btn-sm' onclick=Delete(" + full.Id + ")><i class='fa fa-trash'></i>删除</a >";
                           }
                            else if (data == ApproveStatus.Approving) {
                                return "<a class='btn btn-danger btn-sm' onclick=singleRollBack(" + full.Id + ")><i class='fa fa-trash'></i>撤回</a >";
                            }
                            else {
                                return "";
                            }
                        }
                    }
                ],
                "serverSide": true,
                "processing": true,
                //"order": [1, "asc"],
                //"aaSorting": [[0, "desc"]],
                "bSort": true,
                "language": {
                    "emptyTable": "没有记录, 请点击 <b>新增</b> 按钮添加记录!",
                    "processing": "处理中... 请等待!",
                    "decimal": "",
                    "info": "共 _TOTAL_ 条记录",
                    "infoEmpty": "共 0 条记录",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "每页 _MENU_ 条",
                    "search": "查找:",
                    "zeroRecords": "没有找到匹配的记录",
                    "paginate": {
                        "first": "首页",
                        "last": "尾页",
                        "next": "下一页",
                        "previous": "上一页"
                    }
                },
                "dom": '<"top"l>rt<"bottom"ip><"clear">',
                "fnInitComplete": function (oSettings, json) {
                    addSearchControl(json)
                }
            });
            InitWeekList();
        })

        //初始化周列表，只需初始化当前周以及前1周
        function InitWeekList() {
            var selectWeek = $("#selectWeek");
            var dateNow = new Date();
            var dayOfWeek = dateNow.getDay();
            if (dayOfWeek === 0)
                dayOfWeek = 7;
            var optionNow = "";
            for (var i = -1; i <= 0; i++) {
                var firstDayOfWeek = new Date();
                var lastDayOfWeek = new Date();
                firstDayOfWeek.setDate(dateNow.getDate() + i * 7 - dayOfWeek + 1);
                lastDayOfWeek.setDate(dateNow.getDate() + i * 7 - dayOfWeek + 7);
                var s = firstDayOfWeek.Format() + "到" + lastDayOfWeek.Format();
                if (i == 0)
                    optionNow = s;
                console.log(s);
                selectWeek.append("<option value='" + s + "'>" + s + "</option>");
            }
            selectWeek.val(optionNow);
        }

        /** 日期格式化，如果未指定fmt，则默认为 yyyy-MM-dd */
        Date.prototype.Format = function (fmt) {
            if (!fmt)
                fmt = "yyyy-MM-dd";
            var o = {
                "M+": this.getMonth() + 1,                 //月份
                "d+": this.getDate(),                    //日
                "h+": this.getHours(),                   //小时
                "m+": this.getMinutes(),                 //分
                "s+": this.getSeconds(),                 //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds()             //毫秒
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }

        function addSearchControl(json) {
            //$("#dtTimesheet thead").append($("#dtTimesheet thead tr:first").clone());

            //$("#dtTimesheet thead tr:eq(1) th").each(function (index) {
            //    if (index != 13) {
            //        $(this).replaceWith('<th><input type="text" style="width:80px;"></input></th>');
            //        var searchControl = $("#dtTimesheet thead tr:eq(1) th:eq(" + index + ") input");
            //        searchControl.on('keyup', function () {
            //            dataTable.column(index).search(searchControl.val()).draw();
            //        })
            //    }
            //})
        }

        function PopupForm(url,action) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: action=="create"?"新增工时":"编辑工时",
                        //height: 600,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();

                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            });
            return false;
        }

        function Delete(id) {
            if (confirm("确认删除吗?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Timesheet")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                })
            }
        }

        function PopupFormForWeek(url) {
            var formDiv = $('<div/>');
            //这里需要把选择的周开始结束日期传递到后台
            url += "/" + encodeURI($("#selectWeek").val());
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: "按周新增或编辑工时",
                        //height: 600,
                        width: 800,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        function SubmitFormForWeek(form) {
            //按周操作的是多个工时对象，需要把form表单进行转换
            debugger;
            var weekData = GetTimeSheetFromForm(form);
            //检验，同一个日期的工时不能超过8
            $.ajax({
                type: "POST",
                url: '@Url.Action("SubmitFormForWeek", "Timesheet")',
                data: weekData,//JSON.stringify(weekData),
                success: function (data) {
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();

                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    else {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                },
                error: function (xhr, status, error) {
                    $.notify(error, {
                        globalPosition: "top center",
                        className: "error"
                    })
                }
            });
            //}
            return false;
        }

        function SaveDraftForWeek(form) {
            //按周操作的是多个工时对象，需要把form表单进行转换
            debugger;
            var weekData = GetTimeSheetFromForm(form);
            //检验，同一个日期的工时不能超过8
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDraftForWeek", "Timesheet")',
                data: weekData,//JSON.stringify(weekData),
                success: function (data) {
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();

                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    else {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                },
                error: function (xhr, status, error) {
                    $.notify(error, {
                        globalPosition: "top center",
                        className: "error"
                    })
                }
            });
            //}
            return false;
        }

        //获取周工时的数据，不管是保存草稿还是提交，都只针对状态是ApproveStatus.Draft的
        function GetTimeSheetFromForm(form) {
            var weekData = {
                startDate: $("#startDate").val(),
                endDate: $("#endDate").val(),
                TimesheetList: []
            };
            var trList = $(form.form).find("tr");
            //这里取的是form，所以需要从1开始，第一行是标题
            for (var i = 1; i < trList.length; i++) {
                var ts = {};
                var inputId = $(trList[i]).find("input[name='Id']");
                if (inputId.length > 0) {
                    ts.Id = $(inputId).val();
                }
                var dates = $(trList[i]).find("input[name='TimesheetDate']");
                if (dates.length > 0) {
                    ts.TimesheetDate = $(dates).val();
                }
                var tsProjectID = $(trList[i]).find("select[name='ProjectID']");
                if (tsProjectID.length > 0) {
                    ts.ProjectID = $(tsProjectID).val();
                }
                var tsProjectGroup = $(trList[i]).find("input[name='ProjectGroup']");
                if (tsProjectGroup.length > 0) {
                    ts.ProjectGroup = $(tsProjectGroup).val();
                }
                var tsWorkload = $(trList[i]).find("input[name='Workload']");
                if (tsWorkload.length > 0) {
                    ts.Workload = $(tsWorkload).val();
                }
                var tsWorkContent = $(trList[i]).find("input[name='WorkContent']");
                if (tsWorkContent.length > 0) {
                    ts.WorkContent = $(tsWorkContent).val();
                }
                var tsRemarks = $(trList[i]).find("input[name='Remarks']");
                if (tsRemarks.length > 0) {
                    ts.Remarks = $(tsRemarks).val();
                }
                var tsStatus = $(trList[i]).find("input[name='Status']");
                if (tsStatus.length > 0) {
                    ts.Status = $(tsStatus).val();
                }
                var tsApprover = $(trList[i]).find("input[name='Approver']");
                if (tsApprover.length > 0) {
                    ts.Approver = $(tsApprover).val();
                }
                var tsApprovedTime = $(trList[i]).find("input[name='ApprovedTime']");
                if (tsApprovedTime.length > 0) {
                    ts.ApprovedTime = $(tsApprovedTime).val();
                }
                var tsWorkflowInstanceID = $(trList[i]).find("input[name='WorkflowInstanceID']");
                if (tsWorkflowInstanceID.length > 0) {
                    ts.WorkflowInstanceID = $(tsWorkflowInstanceID).val();
                }
                //都只针对状态是ApproveStatus.Draft的
                if (ts.Status == ApproveStatus.Draft) {
                    weekData.TimesheetList.push(ts);
                }
            }
            return weekData;
        }

        function CreateNewTimesheet(bt) {
            //debugger;
            var trList = $(bt).parent().parent().clone();
            $(trList).insertAfter($(bt).parent().parent());
            var bts = $(trList).find("a");
            if (bts.length == 1) {//需要增加一个移除的按钮
                $("<a class='btn btn-info btn-sm' title='移除一个工时' onclick='RemoveNewTimesheet(this)'>-</a>").insertAfter($(bts));
            }
            var dates = $(trList).find("input[name='TimesheetDate']");
            if (dates.length > 0) {
                //先把id和class清空，否则无法绑定日历插件和正确赋值
                $(dates).removeAttr("id").removeAttr("class");
                $(dates).removeAttr("disabled");
                $(dates).datepicker({
                    autoclose: true,
                    dateFormat: "yy-mm-dd",
                    minDate: $("#startDate").val(),
                    maxDate: $("#endDate").val(),
                    weekStart: 1,
                })
            }
            var inputProjectID = $(trList).find("select[name='ProjectID']");
            if (inputProjectID.length > 0) {//新增的需要去掉只读属性disabled
                $(inputProjectID).removeAttr("disabled");
            }
            var inputWorkload = $(trList).find("input[name='Workload']");
            if (inputWorkload.length > 0) {//新增的需要去掉只读属性disabled
                $(inputWorkload).removeAttr("disabled");
            }
            var inputWorkContent = $(trList).find("input[name='WorkContent']");
            if (inputWorkContent.length > 0) {//新增的需要去掉只读属性disabled
                $(inputWorkContent).removeAttr("disabled");
            }
            var inputRemarks = $(trList).find("input[name='Remarks']");
            if (inputRemarks.length > 0) {//新增的需要去掉只读属性disabled
                $(inputRemarks).removeAttr("disabled");
            }
            var inputId = $(trList).find("input[name='Id']");
            if (inputId.length > 0) {//新增的需要把id赋值为0，否则会把原先的给替换掉
                $(inputId).val(0);
            }
            var tsStatus = $(trList).find("input[name='Status']");
            if (tsStatus.length > 0) {//新增的需要把Status赋值为Draft
                $(tsStatus).val(ApproveStatus.Draft);
            }
            var tsApprover = $(trList).find("input[name='Approver']");
            if (tsApprover.length > 0) {//新增的需要把Approver清空
                $(tsApprover).val("");
            }
            var tsApprovedTime = $(trList).find("input[name='ApprovedTime']");
            if (tsApprovedTime.length > 0) {//新增的需要把ApprovedTime清空
                $(tsApprovedTime).val("");
            }
            var tsWorkflowInstanceID = $(trList).find("input[name='WorkflowInstanceID']");
            if (tsWorkflowInstanceID.length > 0) {//新增的需要把WorkflowInstanceID清空
                $(tsWorkflowInstanceID).val("");
            }
        }

        function RemoveNewTimesheet(bt) {
            //debugger;
            var cf = confirm("你选择的工时(未入库)将会被移除,确定要这么做吗？");
            if (cf) {
                $(bt).parent().parent().remove();
                $.notify('你选择的工时已经被移除', {
                    globalPosition: "top center",
                    className: "success"
                });
            }
        }
        
        function singleSubmit(id) {
            //询问是否提交
            if (confirm("确认将该工时进行提交吗?")) {
                commAction(id,'submit');
            }
        }

        function singleRollBack(id) {
            //询问是否撤回
            if (confirm("确认将该工时进行撤回吗?")) {
                commAction(id,'rollback');
            }
        }

        //公用的Action方法，参数是对应的工时id列表，多个则用英文逗号隔开
        //actionType:submit是提交，rollback是撤回
        function commAction(tsIdList, actionType) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CommAction", "Timesheet")',
                data: {
                    tsIdList: tsIdList,
                    actionType: actionType,
                },
                success: function (data) {
                    if (data.success) {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    else {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                }
            })
        }


    </script>
}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box box-header">
                <div class="btn-group-toggle">
                    <!--
        <button type="button" class="btn btn-info" onclick="PopupForm('@Url.Action("AddOrEdit","Timesheet")','create')">按天新增 <i class="fa fa-plus"></i></button>
    -->
                    <select id="selectWeek"></select>
                    <button type="button" class="btn btn-info" onclick="PopupFormForWeek('@Url.Action("AddOrEditForWeek","Timesheet")')">按周新增或编辑 <i class="fa fa-plus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="dtTimesheet" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>项目名称</th>
                            <th>工时</th>
                            <th>工作内容</th>
                            <th>备注</th>
                            <th>状态</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


