@using Abp.Web.Mvc.Extensions
@section styles {
    <link href="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/plugins/iCheck/all.css">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/css/select2.min.css">
}
@section scripts
{
    <!-- DataTables -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/lib/AdminLTE-2.4.10/plugins/iCheck/icheck.min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/lib/AdminLTE-2.4.10/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/lib/AdminLTE-2.4.10/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/lib/My97DatePicker/WdatePicker.js"></script>
    <script src="~/js/config.js"></script>

    @*@Html.IncludeScript("~/js/Timesheet/Index.js")*@

    <script>
        var Popup, dataTable

        $(document).ready(function () {
            dataTable = $("#dtTimesheet").DataTable({
                "ajax": {
                    "url": "/Timesheet/GetAllTimesheets",
                    "type": "POST",
                    "datatype": "json",
                },
                "columns": [
                    {
                        "data": "TimesheetDate", "name": "TimesheetDate", "render": function (d) {
                            if (d)
                                return moment(d).format("YYYY-MM-DD");
                            else
                                return "";
                        }
                    },
                    { "data": "ProjectName" },
                    { "data": "Workload" },
                    {
                        "data": "WorkContent", "name": "WorkContent", "render": function (d) {
                            if (d)
                                return "<label title='" + d + "'>" + GetShortStringForCell(d) + "</label>";
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Status",
                        "orderable": false,
                        "searchable": false,
                        "width": "80px",
                        "render": function (data, type, full, meta) {
                            if (data == "" || data == null || data == ApproveStatus.Draft) {
                                return "草稿";
                            }
                            else if (data == ApproveStatus.Approving) {
                                return "审核中";
                            }
                            else if (data == ApproveStatus.Rejected) {
                                return "已拒绝";
                            }
                            else if (data == ApproveStatus.Approved) {
                                return "审批完成";
                            }
                            else {
                                return "未知";
                            }
                        }
                    },
                    {
                        "data": "Status",
                        "orderable": false,
                        "searchable": false,
                        "width": "125px",
                        "render": function (data, type, full, meta) {
                            console.log(data + "," + type + "," + full + "," + meta);
                            if (data == "" || data == null || data == ApproveStatus.Draft || data == ApproveStatus.Rejected) {
                                return "<a class='btn btn-info btn-sm' onclick=PopupFormForWeek('@Url.Action("AddOrEditForWeek", "Timesheet")','" + full.TimesheetDate + "')><i class='fa fa-pencil'></i>操作</a > <a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + full.Id + ")><i class='fa fa-trash'></i>删除</a >";
                           }
                            else if (data == ApproveStatus.Approving) {
                                return "<a class='btn btn-info btn-sm' onclick=PopupFormForWeek('@Url.Action("AddOrEditForWeek", "Timesheet")','" + full.TimesheetDate + "')><i class='fa fa-pencil'></i>操作</a >";
                            }
                            else {
                                return "";
                            }
                        }
                    }
                ],
                "serverSide": true,
                "processing": true,
                //"order": [1, "asc"],
                //"aaSorting": [[0, "desc"]],
                "bSort": true,
                "language": {
                    "emptyTable": "没有记录, 请点击 <b>新增</b> 按钮添加记录!",
                    "processing": "处理中... 请等待!",
                    "decimal": "",
                    "info": "共 _TOTAL_ 条记录",
                    "infoEmpty": "共 0 条记录",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "每页 _MENU_ 条",
                    "search": "查找:",
                    "zeroRecords": "没有找到匹配的记录",
                    "paginate": {
                        "first": "首页",
                        "last": "尾页",
                        "next": "下一页",
                        "previous": "上一页"
                    }
                },
                "dom": '<"top"l>rt<"bottom"ip><"clear">',
                "fnInitComplete": function (oSettings, json) {
                    addSearchControl(json)
                }
            });
            InitWeekList();
            $("#btnSearch").click(function () {
                var fDate = $("#searchFromDate").val();
                var tDate = $("#searchToDate").val();
                dataTable.columns(0).search(fDate+","+tDate);
                dataTable.draw();
            });
        })

        //初始化周列表，只需初始化当前周以及前1周
        function InitWeekList() {
            var selectWeek = $("#selectWeek");
            var dateNow = new Date();
            var dayOfWeek = dateNow.getDay();
            if (dayOfWeek === 0)
                dayOfWeek = 7;
            var optionNow = "";
            for (var i = -1; i <= 0; i++) {
                var firstDayOfWeek = new Date();
                var lastDayOfWeek = new Date();
                firstDayOfWeek.setDate(dateNow.getDate() + i * 7 - dayOfWeek + 1);
                lastDayOfWeek.setDate(dateNow.getDate() + i * 7 - dayOfWeek + 7);
                var s = firstDayOfWeek.Format() + "到" + lastDayOfWeek.Format();
                if (i == 0)
                    optionNow = s;
                console.log(s);
                selectWeek.append("<option value='" + s + "'>" + s + "</option>");
            }
            selectWeek.val(optionNow);
        }

        function addSearchControl(json) {

        }

        function Delete(id) {
            if (confirm("确认删除吗?")) {
                abp.ui.block();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Timesheet")/' + id,
                    cache: false,
                    success: function (data) {
                        abp.ui.unblock();
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                })
            }
        }

        function PopupFormForWeek(url, currentDate) {
            abp.ui.block();
            var formDiv = $('<div/>');
            var weekDate = $("#selectWeek").val();
            if (currentDate != undefined && currentDate != "" && currentDate != null) {//如果这个参数有值，则需要更加该日期把对应的周一和周末找出来
                var dateNow = ConvertStringToDatetimeObject(currentDate);
                var dayOfWeek = dateNow.getDay();
                if (dayOfWeek === 0)
                    dayOfWeek = 7;
                var firstDayOfWeek = dateNow;
                var lastDayOfWeek = dateNow;
                firstDayOfWeek.setDate(dateNow.getDate() - dayOfWeek + 1);
                lastDayOfWeek.setDate(dateNow.getDate() - dayOfWeek + 7);
                weekDate = firstDayOfWeek.Format() + "到" + lastDayOfWeek.Format();
            }
            //这里需要把选择的周开始结束日期传递到后台
            url += "/" + encodeURI(weekDate);
            //这里增加一个参数，防止从缓存中取数据
            url += "?i=" + (new Date()).valueOf();
            $.get(url)
                .done(function (response) {
                    abp.ui.unblock();
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        modal: true,
                        title: "按周新增或编辑工时(" + weekDate+")",
                        //height: 600,
                        width: 900,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        },
                        open: function () {
                            if ($.ui && $.ui.dialog && !$.ui.dialog.prototype._allowInteractionRemapped && $(this).closest(".ui-dialog").length) {
                                if ($.ui.dialog.prototype._allowInteraction) {
                                    $.ui.dialog.prototype._allowInteraction = function (e) {
                                        if ($(e.target).closest('.select2-drop').length) return true;
                                        return true;// ui_dialog_interaction.apply(this, arguments);
                                    };
                                    $.ui.dialog.prototype._allowInteractionRemapped = true;
                                }
                                else {
                                    $.error("You must upgrade jQuery UI or else.");
                                }
                            }
                        },
                        _allowInteraction: function (event) {
                            return !!$(event.target).is(".select2-input") || this._super(event);
                        }
                    });
                });
        }

        function SubmitFormForWeek(form) {
            //按周操作的是多个工时对象，需要把form表单进行转换
            var weekData = GetTimeSheetFromForm(form, ApproveStatus.Draft);
            if (weekData.TimesheetList.length == 0) {
                $.notify('需要提交周工时数据为空!', {
                    globalPosition: "top center",
                    className: "error"
                })
                return;
            }
            //各种检验，单天不能超过8，同一个日期的工时不能超过8
            var validCheck = CheckTimesheetValid(GetTimeSheetFromForm(form, ApproveStatus.Draft, true).TimesheetList);
            if (validCheck != "") {
                $.notify(validCheck, {
                    globalPosition: "top center",
                    className: "error"
                })
                return;
            }

            //ShowApproveComment('提交', weekData);
            commSubmit(weekData,"请审批");
            return;
        }

        function RollBackForWeek(form) {
            //按周操作的是多个工时对象，需要把form表单进行转换
            var weekData = GetTimeSheetFromForm(form, ApproveStatus.Approving);
            if (weekData.TimesheetList.length == 0) {
                $.notify('需要撤回的周工时数据为空!', {
                    globalPosition: "top center",
                    className: "error"
                })
                return;
            }
            ShowApproveComment('撤回', weekData);
        }

        function SaveDraftForWeek(form) {
            abp.ui.block();
            //按周操作的是多个工时对象，需要把form表单进行转换
            var weekData = GetTimeSheetFromForm(form, ApproveStatus.Draft);
            if (weekData.TimesheetList.length == 0) {
                abp.ui.unblock();
                $.notify('需要保存的周工时草稿数据为空!', {
                    globalPosition: "top center",
                    className: "error"
                });
                return;
            }
            //各种检验，单天不能超过8，同一个日期的工时不能超过8
            var validCheck = CheckTimesheetValid(GetTimeSheetFromForm(form, ApproveStatus.Draft, true).TimesheetList);
            if (validCheck != "") {
                abp.ui.unblock();
                $.notify(validCheck, {
                    globalPosition: "top center",
                    className: "error"
                })
                return;
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDraftForWeek", "Timesheet")',
                data: weekData,//JSON.stringify(weekData),
                success: function (data) {
                    abp.ui.unblock();
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();

                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    else {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                },
                error: function (xhr, status, error) {
                    abp.ui.unblock();
                    $.notify(error, {
                        globalPosition: "top center",
                        className: "error"
                    })
                }
            });
            //}
            return false;
        }

        function CloseWeekForm(form) {
            Popup.dialog('close');
        }

        //获取周工时的数据，不管是保存草稿还是提交，都只针对状态是ApproveStatus.Draft的，撤回只针对状态是ApproveStatus.Approving的
        function GetTimeSheetFromForm(form, approveStatus, isGetAll) {
            debugger;
            var weekData = {
                startDate: $("#startDate").val(),
                endDate: $("#endDate").val(),
                TimesheetList: []
            };
            var trList = $(form.form).find("tr");
            //这里取的是form，所以需要从1开始，第一行是标题
            for (var i = 1; i < trList.length; i++) {
                var ts = {};
                var inputId = $(trList[i]).find("input[name='Id']");
                if (inputId.length > 0) {
                    ts.Id = $(inputId).val();
                }
                var dates = $(trList[i]).find("input[name='TimesheetDate']");
                if (dates.length > 0) {
                    ts.TimesheetDate = $(dates).val();
                }
                var tsProjectID = $(trList[i]).find("select[name='ProjectID']");
                if (tsProjectID.length > 0) {
                    ts.ProjectID = $(tsProjectID).val();
                }
                var tsProjectGroup = $(trList[i]).find("input[name='ProjectGroup']");
                if (tsProjectGroup.length > 0) {
                    ts.ProjectGroup = $(tsProjectGroup).val();
                }
                var tsWorkload = $(trList[i]).find("input[name='Workload']");
                if (tsWorkload.length > 0) {
                    ts.Workload = $(tsWorkload).val();
                    if (ts.Workload.trim() == "") {
                        ts.Workload = 0;
                    }
                    else {
                        ts.Workload = parseFloat(ts.Workload);
                    }
                }
                var tsWorkContent = $(trList[i]).find("textarea[name='WorkContent']");
                if (tsWorkContent.length > 0) {
                    ts.WorkContent = $(tsWorkContent).val();
                }
                var tsRemarks = $(trList[i]).find("textarea[name='Remarks']");
                if (tsRemarks.length > 0) {
                    ts.Remarks = $(tsRemarks).val();
                }
                var tsStatus = $(trList[i]).find("input[name='Status']");
                if (tsStatus.length > 0) {
                    ts.Status = $(tsStatus).val();
                }
                var tsApprover = $(trList[i]).find("input[name='Approver']");
                if (tsApprover.length > 0) {
                    ts.Approver = $(tsApprover).val();
                }
                var tsApprovedTime = $(trList[i]).find("input[name='ApprovedTime']");
                if (tsApprovedTime.length > 0) {
                    ts.ApprovedTime = $(tsApprovedTime).val();
                }
                var tsWorkflowInstanceID = $(trList[i]).find("input[name='WorkflowInstanceID']");
                if (tsWorkflowInstanceID.length > 0) {
                    ts.WorkflowInstanceID = $(tsWorkflowInstanceID).val();
                }
                //不管是保存草稿还是提交，都只针对状态是ApproveStatus.Draft的，撤回只针对状态是ApproveStatus.Approving的
                if (!isGetAll) {
                    if (approveStatus == ApproveStatus.Draft) {
                        //如果传入的是草稿，则草稿和已拒绝都可以
                        if (ts.Status == ApproveStatus.Draft || ts.Status == ApproveStatus.Rejected) {
                            weekData.TimesheetList.push(ts);
                        }
                    }
                    else if (approveStatus == ApproveStatus.Approving && ts.Status == ApproveStatus.Approving) {
                        //如果传入的是审批中，则只能选择审批中的
                        weekData.TimesheetList.push(ts);
                    }
                }
                else {
                    weekData.TimesheetList.push(ts);
                }
            }
            return weekData;
        }

        function CheckTimesheetValid(tsList) {
            var lableAllWorkloadByInput = $("label.lableAllWorkloadByInput").text();
            var lableAllWorkloadByWorkDay = $("label.lableAllWorkloadByWorkDay").text();
            if (lableAllWorkloadByInput != lableAllWorkloadByWorkDay) {
                return "输入的工时和工作日总工时不相同，请检查";
            }
            for (var i = 0; i < tsList.length; i++) {
                //日期必须有值
                if (!tsList[i].TimesheetDate || tsList[i].TimesheetDate == "") {
                    return "第" + (i+1) + "条数据的日期数据为空";
                }
                //项目必须有值
                if (!tsList[i].ProjectID || tsList[i].ProjectID == "" || tsList[i].ProjectID == null) {
                    return tsList[i].TimesheetDate + "的项目未填写";
                }

                //首先自身工时不能超过8
                if (tsList[i].Workload > 8) {
                    return tsList[i].TimesheetDate + "的工时超过了8";
                }
                else if (tsList[i].Workload <= 0) {
                    return tsList[i].TimesheetDate + "的工时不能为0";
                }
                else if (tsList[i].Workload < 8) {
                    return tsList[i].TimesheetDate + "的工时低于8";
                }
                //其次，相同日期的工时之和不能超过8
                var tsf = $(tsList).filter(function () {
                    return this.TimesheetDate == tsList[i].TimesheetDate;
                });
                if (tsf.length > 1) {
                    var allWorkload = 0;
                    for (var j = 0; j < tsf.length; j++) {
                        allWorkload += tsf[j].Workload;
                    }
                    if (allWorkload > 8) {
                        return tsList[i].TimesheetDate + "的总工时超过了8";
                    }
                }
                console.log(tsList[i].TimesheetDate + ' , ' + tsf.length);
            }
            return "";
        }

        function CreateNewTimesheet(bt) {
            //debugger;
            var trList = $(bt).parent().parent().clone();
            $(trList).insertAfter($(bt).parent().parent());
            var bts = $(trList).find("a");
            if (bts.length == 1) {//需要增加一个移除的按钮
                $("<a class='btn btn-info btn-sm' title='移除一个工时' onclick='RemoveNewTimesheet(this)'>-</a>").insertAfter($(bts));
            }
            var dates = $(trList).find("input[name='TimesheetDate']");
            if (dates.length > 0) {
                //先把id和class清空，否则无法绑定日历插件和正确赋值
                $(dates).removeAttr("id").removeAttr("class");
                $(dates).removeAttr("disabled");
            }
            var inputProjectID = $(trList).find("select[name='ProjectID']");
            if (inputProjectID.length > 0) {//新增的需要去掉只读属性disabled
                $(inputProjectID).removeAttr("disabled");
                //增加动态筛选功能
                //先把这个select后面的span对象移除
                $(inputProjectID).next().remove();
                //然后再重新初始化动态筛选
                $(inputProjectID).select2(select2.project);
            }
            var inputWorkload = $(trList).find("input[name='Workload']");
            if (inputWorkload.length > 0) {//新增的需要去掉只读属性disabled
                $(inputWorkload).removeAttr("disabled");
            }
            var inputWorkContent = $(trList).find("input[name='WorkContent']");
            if (inputWorkContent.length > 0) {//新增的需要去掉只读属性disabled
                $(inputWorkContent).removeAttr("disabled");
            }
            var inputRemarks = $(trList).find("input[name='Remarks']");
            if (inputRemarks.length > 0) {//新增的需要去掉只读属性disabled
                $(inputRemarks).removeAttr("disabled");
            }
            var inputId = $(trList).find("input[name='Id']");
            if (inputId.length > 0) {//新增的需要把id赋值为0，否则会把原先的给替换掉
                $(inputId).val(0);
            }
            var tsStatus = $(trList).find("input[name='Status']");
            if (tsStatus.length > 0) {//新增的需要把Status赋值为Draft
                $(tsStatus).val(ApproveStatus.Draft);
            }
            var tsApprover = $(trList).find("input[name='Approver']");
            if (tsApprover.length > 0) {//新增的需要把Approver清空
                $(tsApprover).val("");
            }
            var tsApprovedTime = $(trList).find("input[name='ApprovedTime']");
            if (tsApprovedTime.length > 0) {//新增的需要把ApprovedTime清空
                $(tsApprovedTime).val("");
            }
            var tsWorkflowInstanceID = $(trList).find("input[name='WorkflowInstanceID']");
            if (tsWorkflowInstanceID.length > 0) {//新增的需要把WorkflowInstanceID清空
                $(tsWorkflowInstanceID).val("");
            }
            WorkloadChange();
        }

        function RemoveNewTimesheet(bt) {
            //debugger;
            var cf = confirm("你选择的工时(未入库)将会被移除,确定要这么做吗？");
            if (cf) {
                $(bt).parent().parent().remove();
                $.notify('你选择的工时已经被移除', {
                    globalPosition: "top center",
                    className: "success"
                });
                WorkloadChange();
            }
        }

    </script>
}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box box-header">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>开始日期</label>
                            <input type="text" class="form-control" id="searchFromDate" onclick="WdatePicker(({readOnly:true,dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'searchToDate\')}'}))" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>结束日期</label>
                            <input type="text" class="form-control" id="searchToDate" onclick="WdatePicker(({readOnly:true,dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'searchFromDate\')}'}))" />
                        </div>
                    </div>
                </div>
                <div class="btn-group-toggle pull-right">
                    <button type="button" name="search" id="btnSearch" class="btn btn-success">
                        查询 <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="btn-group-toggle">
                    <select id="selectWeek"></select>
                    <button type="button" class="btn btn-info" onclick="PopupFormForWeek('@Url.Action("AddOrEditForWeek","Timesheet")')">按周新增或编辑 <i class="fa fa-plus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="dtTimesheet" class="table table-bordered table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>项目名称</th>
                            <th>工时</th>
                            <th>工作内容</th>
                            <th>状态</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


